*.o
*.d
bin/**
.vscode/**
**/__pycache__/**
data/**
output/**
.venv
.conda
.obj/libs/storage.d
*.whl
*.stackdump
assets/test/**
!assets/test/README.txt
!assets/test/bologna-sim
!assets/test/bologna-sim/osm.netccfg
!assets/test/bologna-sim/osm_bbox.osm.xml.gz
err.txt
build/**
!build/.dir
build-windows/**
!build-windows/.dir
build-msys/**
!build-msys/.dir
build-ubuntu/**
.cache/**
compile_commands.json
*_output.xml
*.code-workspace
testResults/**
!testResults/test6.csv
!testResults/test6_parts.csv
scripts/plots/*.png
