*.o
*.d
bin/**
.vscode/**
**/__pycache__/**
data/**
.venv
.conda
.obj/libs/storage.d
*.whl
*.stackdump
assets/grid_large.*
err.txt
build/**
!build/.dir
build-windows/**
!build-windows/.dir
build-msys/**
!build-msys/.dir
build-ubuntu/**
.cache/**
compile_commands.json
*_output.xml
assets/bologna-sim/**
