# IMPORTANT: check the Pymetis repo to install instructions on Windows especially,
# either download from conda-forge or from here https://www.lfd.uci.edu/~gohlke/pythonlibs/#pymetis
# pymetis
pillow
pyproj #for net2geojson
geopandas
matplotlib